@import url('https://fonts.googleapis.com/css?family=Barlow|Francois+One');


.CardViewer {
  width: 60%;
  min-height: 500px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 0px 10px silver;
  border-radius: 10px;
  font-family: sans-serif;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f5f5f5;
    padding: 20px;
    font-size: 47px;
    font-family: 'Francois One', sans-serif;    
    
    &-number {
      font-size: 29px;
      color: #2e859e;
    }
  }

  &__about {
    font-family: 'Barlow', sans-serif;
    border-bottom: 1px solid #f5f5f5;
    padding: 30px;
    margin: 10px;
  }

  
  &__point {
    color: #2e859e;
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
  }
  &__highlight-point {
    font-family: sans-serif;
    font-weight: bold;
    color: red;
    font-size: 27px;
  }

  &__personal-information-list {
    padding: 0;
    margin: 0;
  }
  &__personal-information-item {
    border-bottom: 1px solid #f5f5f5;
    padding: 10px;
    font-size: 20px;
    list-style: none;

    &-point {
      color: #2e859e;
      font-weight: bold;      
    }
  }

  &__personal-information-friends {
    margin: 0;
  }
}

.btn-to-back {
  box-shadow: 0px 0px 10px silver;
  border-radius: 10px;
  font-family: 'Francois One', sans-serif;    
  background: #fff;
  position: fixed;
  padding: 20px;
  font-size: 30px;
  top: 5%;
  left: 5%;
  cursor: pointer;
  transition: .3s;
  
  &-link {
    color: #000;
  }

  &:hover {
    box-shadow: 0px 0px 10px #2e859e;
    background: #2e859e;
    color: #fff;
  }
}